
html, body {
  margin: 0;
  font: 16px;
  border-color: white;
}
body {
    background-color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}
#login-content{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: xx-large;
    color: pink;
}
#login-content input{
  text-align: center;

}
#question{
  text-align: center;
}
#main-content {

}
#image{
  display: none;
}
table {
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

th {
    text-align: center;
    background-color: #ed84f1;
    border-radius: 20px;
    height: 80px;
    width: 50%;
}
tr{
    position: relative;
}
table, th ,td{
    border-spacing: 30px;
}
header {
}
h1 {
    text-align: center;
    color: dimgrey;
    font-size: xx-large;

}

#connect {
    font-size: large;
    color: dimgrey;
}

#text {
    text-align: center;
    color: darkgrey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;

}

#alias {
    text-align: center;
    color: darkslategrey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#login-content {
    color:black;
}

#question {
    color:darkslategrey;
    font-size: large;



}

